process {

    // Default settings for all processes
    cpus = 1
    time = '1h'

    // Override defaults with process specific settings.
    withName: 'PFAM_TRANSPOSIBLE_ELEMENT_SEARCH' {
        cpus = 1
        time = '6h'
    }
    withName: 'BLASTX_AND_FILTER' {
        cpus = 4
        time = '1d'
    }
    withName: 'PFAM_SCAN' {
        cpus = 4
        time = '1d'
    }
    withName: 'TREP_BLASTN' {
        cpus = 8
    }
}
