// Process specific configuration:
//    - Process publishing directories
//    - Process specific tool parameters (ext.args, ext.prefix) where applicable

process {
    withName: 'RENAME_REPEAT_MODELER_SEQUENCES' {
        publishDir = [
            path: "${params.results}/01_Renamed_Repeat_modeler_sequences",
            mode: params.publish_mode
        ]
    }
    withName: 'PFAM_TRANSPOSIBLE_ELEMENT_SEARCH' {
        publishDir = [
            path: "${params.results}/02_Pfam_TE_IDs",
            mode: params.publish_mode
        ]
    }
    withName: 'BUILD_PROTEIN_REF_BLAST_DB' {
        ext.args   = '-dbtype prot'
    }
    withName: 'BUILD_TREP_BLAST_DB' {
        ext.args   = '-dbtype nucl'
    }
    withName: 'BUILD_ANNOTATED_LIB_BLAST_DB' {
        ext.args   = '-dbtype nucl'
    }
    withName: 'BLASTX_AND_FILTER' {
        ext.args   = '-max_target_seqs 1 -evalue 1e-10'
        publishDir = [
            path: "${params.results}/03_Blastx",
            mode: params.publish_mode
        ]
    }
    withName: 'PFAM_SCAN' {
        ext.args   = '-e_seq 0.001'
        publishDir = [
            path: "${params.results}/04_Pfam_scan",
            mode: params.publish_mode
        ]
    }
    withName: 'ANNOTATE_REPEATS' {
        publishDir = [
            path: "${params.results}/05_Reannotated_Repeat_modeler_sequences",
            mode: params.publish_mode
        ]
    }
    withName: 'TREP_BLASTN' {
        ext.args   = '-outfmt 6'
        publishDir = [
            path: "${params.results}/06_TREP_Blastn",
            mode: params.publish_mode
        ]
    }
    withName: 'CUSTOM_HMM_SCAN' {
        publishDir = [
            path: "${params.results}/07_Custom_HMM_scan",
            mode: params.publish_mode
        ]
    }
    withName: 'RECIPROCAL_BLASTN' {
        ext.args   = '-outfmt "6 qseqid qlen sseqid slen length nident evalue"'
    }
}
